{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Events</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet grid-cell" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/events.css') }}">
    </head>
    <body>
        <div class="container-events mt-4">
            <div id="pictureCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="event-info">
                            <div class="d-block w-100" alt="Slide 1">
                                <h3>DOH Tour J1</h3>
                                <p class="date">April 19, 2025 11:00AM & 12:30PM</p>
                                <p>Detroit Opera House</p>
                                <p>Join us for a 55-minute Detroit Opera House Highlights<br>
                                    Tour (tour locations vary subject to performance<br>
                                    schedule). These new tours are open to the public; reservations<br>
                                    are required. Tickets are available online or on the day<br>
                                    of at the Box Office (Broadway Street). $10 for adults and<br>
                                    $8 for students</p>
                                <a href="https://cart.detroitopera.org/dohtours/5092?_gl=1*17eoxcf*_gcl_au*NzI5NjU1NjU0LjE3NDE0ODk4ODc.*_ga*MTU5NjI1NDc1Ny4xNzQxNDg5ODg4*_ga_HL9C7T5SE7*MTc0MTQ4OTg4Ny4xLjEuMTc0MTQ4OTk4MC40MC4wLjE5MTQwMzIyNjk." class="get-tickets">Get Tickets</a>
                            </div>
                        </div>
                        <div class="events-image">
                            <img src="{{ url_for('static', filename='images/doh-events.jpg') }}" alt="DOH Tour">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="event-info">
                            <div class="d-block w-100" alt="Slide 2">
                                <h3>Malandain Ballet Biarritz</h3>
                                <p>April 26, 2025 7:30PM</p>
                                <p>Detroit Opera House</p>
                                <a href="https://cart.detroitopera.org/malandain-ballet-biarritz/4890" class="get-tickets">Get Tickets</a>
                            </div>
                        </div>
                        <div class="events-image">
                            <img src="{{ url_for('static', filename='images/ballet-events.jpg') }}" alt="Malandain Ballet Biarritz">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="event-info">
                            <div class="d-block w-100" alt="Slide 2">
                                <h3>Robert Sims performs in concert</h3>
                                <p>April 29th, 2025 8:00PM</p>
                                <p>Detroit Opera House</p>
                                <p>Robert Sims will perform Spirituals and Copland's Old<br>
                                    American Songs in tribute to internationally renowned<br>
                                    vocal pedagogue Richard Miller.</p>
                            </div>
                        </div>
                        <div class="events-image">
                            <img src="{{ url_for('static', filename='images/robert-sims-events.webp') }}" alt="Robert Sims">
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#pictureCarousel" role="button" data-slide="prev">
                &#10094;
            </a>
            <a class="carousel-control-next" href="#pictureCarousel" role="button" data-slide="next">
                &#10095;
            </a>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
{% endblock %}